<a href="https://colab.research.google.com/github/jieun-dot/e.g./blob/main/e.g._2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
X_train = pd.read_csv('/content/drive/MyDrive/ex_data/X_train.csv', encoding='cp949')
y_train = pd.read_csv('/content/drive/MyDrive/ex_data/y_train.csv',encoding='cp949')
X_test = pd.read_csv('/content/drive/MyDrive/ex_data/X_test.csv',encoding='cp949')

In [ ]:
train = pd.merge(X_train,y_train)

In [ ]:
train.head()

   cust_id      총구매액     최대구매액       환불금액  ...   내점당구매건수    주말방문비율  구매주기  gender
0        0  68282840  11264000  6860000.0  ...  3.894737  0.527027    17       0
1        1   2136000   2136000   300000.0  ...  1.500000  0.000000     1       0
2        2   3197000   1639000        NaN  ...  2.000000  0.000000     1       1
3        3  16077620   4935000        NaN  ...  2.444444  0.318182    16       1
4        4  29050000  24000000        NaN  ...  1.500000  0.000000    85       0

[5 rows x 11 columns]

In [ ]:
train.describe()

           cust_id          총구매액  ...         구매주기       gender
count  3500.000000  3.500000e+03  ...  3500.000000  3500.000000
mean   1749.500000  9.191925e+07  ...    20.958286     0.376000
std    1010.507298  1.635065e+08  ...    24.748682     0.484449
min       0.000000 -5.242152e+07  ...     0.000000     0.000000
25%     874.750000  4.747050e+06  ...     4.000000     0.000000
50%    1749.500000  2.822270e+07  ...    13.000000     0.000000
75%    2624.250000  1.065079e+08  ...    28.000000     1.000000
max    3499.000000  2.323180e+09  ...   166.000000     1.000000

[8 rows x 9 columns]

In [ ]:
train['환불금액'] = train['환불금액'].fillna(0)

In [ ]:
train['환불금액'].describe()

count    3.500000e+03
mean     8.289786e+06
std      3.010204e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      2.642250e+06
max      5.637530e+08
Name: 환불금액, dtype: float64

In [ ]:
train['총구매액'] = train.총구매액.apply(lambda x: -x if x < 0 else x)
train['최대구매액'] = train.최대구매액.apply(lambda x: -x if x < 0 else x)

In [ ]:
train.describe()

           cust_id          총구매액  ...         구매주기       gender
count  3500.000000  3.500000e+03  ...  3500.000000  3500.000000
mean   1749.500000  9.196172e+07  ...    20.958286     0.376000
std    1010.507298  1.634826e+08  ...    24.748682     0.484449
min       0.000000  0.000000e+00  ...     0.000000     0.000000
25%     874.750000  4.765000e+06  ...     4.000000     0.000000
50%    1749.500000  2.827170e+07  ...    13.000000     0.000000
75%    2624.250000  1.065079e+08  ...    28.000000     1.000000
max    3499.000000  2.323180e+09  ...   166.000000     1.000000

[8 rows x 9 columns]

In [ ]:
X_test.describe()

           cust_id          총구매액  ...       주말방문비율         구매주기
count  2482.000000  2.482000e+03  ...  2482.000000  2482.000000
mean   4740.500000  1.010275e+08  ...     0.293812    20.286060
std     716.636007  1.732132e+08  ...     0.282600    24.108756
min    3500.000000 -3.744000e+07  ...     0.000000     0.000000
25%    4120.250000  5.076868e+06  ...     0.023456     4.000000
50%    4740.500000  3.051686e+07  ...     0.250000    13.000000
75%    5360.750000  1.264255e+08  ...     0.423566    27.000000
max    5981.000000  2.861238e+09  ...     1.000000   177.000000

[8 rows x 8 columns]

In [ ]:
X_test['환불금액'] = X_test['환불금액'].fillna(0)
X_test['총구매액'] = X_test.총구매액.apply(lambda x: -x if x < 0 else x)
X_test['최대구매액'] = X_test.최대구매액.apply(lambda x: -x if x < 0 else x)

In [ ]:
X_test.describe()

           cust_id          총구매액  ...       주말방문비율         구매주기
count  2482.000000  2.482000e+03  ...  2482.000000  2482.000000
mean   4740.500000  1.010578e+08  ...     0.293812    20.286060
std     716.636007  1.731955e+08  ...     0.282600    24.108756
min    3500.000000  0.000000e+00  ...     0.000000     0.000000
25%    4120.250000  5.086102e+06  ...     0.023456     4.000000
50%    4740.500000  3.067452e+07  ...     0.250000    13.000000
75%    5360.750000  1.264255e+08  ...     0.423566    27.000000
max    5981.000000  2.861238e+09  ...     1.000000   177.000000

[8 rows x 8 columns]

In [ ]:
train['주구매상품'].value_counts()

기타        595
가공식품      546
농산물       339
화장품       264
시티웨어      213
디자이너      193
수산품       153
캐주얼       101
명품        100
섬유잡화       98
골프         82
스포츠        69
일용잡화       64
모피/피혁      57
육류         57
남성 캐주얼     55
구두         54
건강식품       47
차/커피       44
아동         40
피혁잡화       40
축산가공       35
주방용품       32
셔츠         30
젓갈/반찬      29
주방가전       26
트래디셔널      23
남성정장       22
생활잡화       15
주류         14
가구         10
커리어         9
대형가전        8
란제리/내의      8
식기          7
액세서리        5
침구/수예       4
통신/컴퓨터      3
보석          3
남성 트랜디      2
악기          2
소형가전        2
Name: 주구매상품, dtype: int64

In [ ]:
X_test['주구매상품'].value_counts()

기타        465
가공식품      395
농산물       235
화장품       177
시티웨어      168
디자이너      123
수산품        86
섬유잡화       72
캐주얼        65
명품         60
차/커피       55
모피/피혁      47
골프         47
남성 캐주얼     46
구두         44
스포츠        43
육류         38
건강식품       36
일용잡화       30
축산가공       28
셔츠         25
남성정장       25
아동         24
주방용품       21
젓갈/반찬      18
피혁잡화       16
주방가전       10
주류         10
란제리/내의     10
트래디셔널       9
생활잡화        8
식기          8
가구          7
액세서리        7
커리어         6
대형가전        6
남성 트랜디      4
침구/수예       3
통신/컴퓨터      3
악기          1
보석          1
Name: 주구매상품, dtype: int64

In [ ]:
train['주구매지점'].value_counts()

본  점     1077
잠실점       474
분당점       436
부산본점      245
영등포점      241
일산점       198
강남점       145
광주점       114
노원점        90
청량리점       86
대전점        70
미아점        69
부평점        57
동래점        49
관악점        46
인천점        34
안양점        29
포항점        11
대구점         7
센텀시티점       6
울산점         6
전주점         5
창원점         4
상인점         1
Name: 주구매지점, dtype: int64

In [ ]:
X_test['주구매지점'].value_counts()

본  점     726
잠실점      352
분당점      328
부산본점     168
일산점      158
영등포점     150
강남점      101
광주점       86
청량리점      78
노원점       53
미아점       52
부평점       50
대전점       41
동래점       36
관악점       30
안양점       27
인천점       22
울산점        5
포항점        5
창원점        4
센텀시티점      3
상인점        3
대구점        2
전주점        2
Name: 주구매지점, dtype: int64

In [ ]:
train.주구매상품[train.주구매상품 == '소형가전'].index

Int64Index([1521, 2035], dtype='int64')

In [ ]:
train = train.drop(train.index[[1521,2035]])

In [ ]:
train.주구매상품[train.주구매상품 == '소형가전']

Series([], Name: 주구매상품, dtype: object)

In [ ]:
train.dtypes

cust_id      int64
총구매액         int64
최대구매액        int64
환불금액       float64
주구매상품       object
주구매지점       object
내점일수         int64
내점당구매건수    float64
주말방문비율     float64
구매주기         int64
gender       int64
dtype: object

In [ ]:
train.gender = train.gender.astype('category')

In [ ]:
train.dtypes

cust_id       int64
총구매액          int64
최대구매액         int64
환불금액        float64
주구매상품        object
주구매지점        object
내점일수          int64
내점당구매건수     float64
주말방문비율      float64
구매주기          int64
gender     category
dtype: object

In [ ]:
train.head()

   cust_id      총구매액     최대구매액       환불금액  ...   내점당구매건수    주말방문비율  구매주기  gender
0        0  68282840  11264000  6860000.0  ...  3.894737  0.527027    17       0
1        1   2136000   2136000   300000.0  ...  1.500000  0.000000     1       0
2        2   3197000   1639000        0.0  ...  2.000000  0.000000     1       1
3        3  16077620   4935000        0.0  ...  2.444444  0.318182    16       1
4        4  29050000  24000000        0.0  ...  1.500000  0.000000    85       0

[5 rows x 11 columns]

In [ ]:
X = train.drop(['cust_id','gender'],axis=1)

In [ ]:
y = train.gender

In [ ]:
X_num = X.drop(['주구매상품','주구매지점'],axis=1)

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.pipeline import Pipeline

numeric_pipeline = Pipeline(steps = [('imputer',SimpleImputer(strategy='constant',fill_value=0)),
                                     ('std_scaler',StandardScaler())])

from sklearn.compose import ColumnTransformer

numeric_attrs = list(X_num)  # DF.columns의 인덱스를 리스트로 변환  # list(housing_numeric.columns)
category_attrs = ['주구매상품','주구매지점']

full_pipeline = ColumnTransformer(transformers= [('numeric_pipe',numeric_pipeline,numeric_attrs),
                                                 ('category_pipe',OneHotEncoder(),category_attrs)])

X_pre = full_pipeline.fit_transform(X)

In [ ]:
X_pre.shape

(3497, 71)

In [ ]:
type(X_pre)

scipy.sparse.csr.csr_matrix

In [ ]:
from sklearn.model_selection import train_test_split

train,test,train_y,test_y = train_test_split(X_pre.toarray(),y,test_size=0.3,random_state=1,stratify=y)
train.shape, test.shape, train_y.shape, test_y.shape

((2447, 71), (1050, 71), (2447,), (1050,))

In [ ]:
TEST = X_test.drop(['cust_id'],axis=1)

In [ ]:
TEST.head()

        총구매액     최대구매액        환불금액 주구매상품 주구매지점  내점일수    내점당구매건수    주말방문비율  구매주기
0   70900400  22000000   4050000.0    골프  부산본점    13   1.461538  0.789474    26
1  310533100  38558000  48034700.0   농산물   잠실점    90   2.433333  0.369863     3
2  305264140  14825000  30521000.0  가공식품  본  점   101  14.623762  0.083277     3
3    7594080   5225000         0.0  주방용품  부산본점     5   2.000000  0.000000    47
4    1795790   1411200         0.0   수산품  청량리점     3   2.666667  0.125000     8

In [ ]:
TEST_num = TEST.drop(['주구매상품','주구매지점'],axis=1)

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.pipeline import Pipeline

numeric_pipeline = Pipeline(steps = [('imputer',SimpleImputer(strategy='constant',fill_value=0)),
                                     ('std_scaler',StandardScaler())])

from sklearn.compose import ColumnTransformer

numeric_attrs = list(TEST_num)  # DF.columns의 인덱스를 리스트로 변환  # list(housing_numeric.columns)
category_attrs = ['주구매상품','주구매지점']

full_pipeline = ColumnTransformer(transformers= [('numeric_pipe',numeric_pipeline,numeric_attrs),
                                                 ('category_pipe',OneHotEncoder(),category_attrs)])

TEST_pre = full_pipeline.fit_transform(X)

# SGD

In [ ]:
from sklearn.linear_model import SGDClassifier

sgd_clf = SGDClassifier(random_state=1)
sgd_clf.fit(X=train,y=train_y)

y_pred = sgd_clf.predict(X=test)

In [ ]:
from sklearn.metrics import classification_report

report =classification_report(test_y, y_pred, target_names=['class 0', 'class 1'])
print(report)

              precision    recall  f1-score   support

     class 0       0.66      0.65      0.66       655
     class 1       0.44      0.45      0.45       395

    accuracy                           0.58      1050
   macro avg       0.55      0.55      0.55      1050
weighted avg       0.58      0.58      0.58      1050

In [ ]:
s = sgd_clf.decision_function(test)

from sklearn.metrics import roc_auc_score
roc_auc_score(y_true=test_y,y_score=s)

0.585778336071118

# LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(random_state=1)
log_reg.fit(train,train_y)

y_pred = log_reg.predict(test)

In [ ]:
report =classification_report(test_y, y_pred, target_names=['class 0', 'class 1'])
print(report)

              precision    recall  f1-score   support

     class 0       0.67      0.88      0.76       655
     class 1       0.58      0.27      0.37       395

    accuracy                           0.65      1050
   macro avg       0.62      0.58      0.56      1050
weighted avg       0.64      0.65      0.61      1050

In [ ]:
s = log_reg.predict_proba(test)

roc_auc_score(y_true=test_y,y_score=s[:,1])

0.682695912648565

# LinearSVC

In [ ]:
from sklearn.svm import LinearSVC

lin_svc = LinearSVC(random_state=1)
lin_svc.fit(train,train_y)

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=1, tol=0.0001,
          verbose=0)

In [ ]:
s = lin_svc.decision_function(test)

roc_auc_score(y_true=test_y,y_score=s)

0.678892646632525

# SVC

In [ ]:
from sklearn.svm import SVC

svc = SVC(random_state=1)
svc.fit(train,train_y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=1, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
s = svc.decision_function(test)

roc_auc_score(y_true=test_y,y_score=s)

0.658948690694753

In [ ]:
svc2 = SVC(kernel='poly',random_state=1)
svc2.fit(train,train_y)

roc_auc_score(test_y,svc2.decision_function(test))

0.6423519180597159

In [ ]:
svc3 = SVC(kernel='linear',random_state=1)
svc3.fit(train,train_y)

roc_auc_score(test_y,svc3.decision_function(test))

0.6493091119914968

In [ ]:
svc4 = SVC(kernel='sigmoid',random_state=1)
svc4.fit(train,train_y)

roc_auc_score(test_y,svc4.decision_function(test))

0.5856160015460431

In [ ]:
gammas_cs = [(0.1,1e-3),(0.1,1e3),(5,1e-3),(5,1e3)]
for g, c in gammas_cs:
    print(f' gamma = {g}, C = {c}')
    clf = SVC(kernel='rbf',gamma=g,C=c,random_state=42)
    clf.fit(train,train_y)
    print(roc_auc_score(test_y,clf.decision_function(test)))

 gamma = 0.1, C = 0.001
0.6570934389796116
 gamma = 0.1, C = 1000.0
0.568126389023094
 gamma = 5, C = 0.001
0.5291525751280317
 gamma = 5, C = 1000.0
0.5478616291429124

# DecisionTree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

tree_clf = DecisionTreeClassifier(random_state=1)
tree_clf.fit(train,train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=1, splitter='best')

In [ ]:
s = tree_clf.predict_proba(test)

roc_auc_score(test_y,s[:,1])

0.5588655908783458

In [ ]:
tree_clf2 = DecisionTreeClassifier(max_depth=2,random_state=1)
tree_clf2.fit(train,train_y)

roc_auc_score(test_y,tree_clf2.predict_proba(test)[:,1])

0.6197062518117693

In [ ]:
for i in [1,4,8]:
    print(f' min_samples_leaf = {i}')
    clf = DecisionTreeClassifier(min_samples_leaf=i,random_state=1)
    clf.fit(train,train_y)
    print(roc_auc_score(test_y,clf.predict_proba(test)[:,1]))

 min_samples_leaf = 1
0.5588655908783458
 min_samples_leaf = 4
0.58666344574355
 min_samples_leaf = 8
0.5991322833123973

In [ ]:
for i in [1,4,8]:
    print(f' min_samples_leaf = {i}')
    clf = DecisionTreeClassifier(min_samples_leaf=i,max_depth=3,random_state=1)
    clf.fit(train,train_y)
    print(roc_auc_score(test_y,clf.predict_proba(test)[:,1]))

 min_samples_leaf = 1
0.6274596579379651
 min_samples_leaf = 4
0.62539955551261
 min_samples_leaf = 8
0.6289283988791188

In [ ]:
tree_clf3 = DecisionTreeClassifier(max_depth=5,min_samples_leaf=10,random_state=1)
tree_clf3.fit(train,train_y)

roc_auc_score(test_y,tree_clf3.predict_proba(test)[:,1])

0.6486075949367087

# RandomForest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(random_state=1)
clf.fit(train,train_y)

y_pred = clf.predict(test)

In [ ]:
from sklearn.metrics import classification_report

report =classification_report(test_y, y_pred, target_names=['class 0', 'class 1'])
print(report)

              precision    recall  f1-score   support

     class 0       0.68      0.84      0.75       655
     class 1       0.56      0.35      0.43       395

    accuracy                           0.65      1050
   macro avg       0.62      0.59      0.59      1050
weighted avg       0.63      0.65      0.63      1050

In [ ]:
from sklearn.metrics import roc_auc_score ,roc_curve

lr_probs = clf.predict_proba(test)
lr_auc = roc_auc_score(test_y, lr_probs[:,1])
lr_auc

0.6567822978065513

# GradientBoostingClassifier

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gbc = GradientBoostingClassifier(random_state=1)

gbc.fit(train,train_y)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=1, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [ ]:
s = gbc.predict_proba(test)

roc_auc_score(test_y,s[:,1])

0.6793796502077496

# KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier()

knn.fit(train,train_y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
roc_auc_score(test_y,knn.predict_proba(test)[:,1])

0.5815885592810899

# GridSearch
## GBC

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
GBC = GradientBoostingClassifier()
gb_param_grid = {'loss' : ["deviance"],
              'n_estimators' : [100,200,300],
              'learning_rate': [0.1, 0.05, 0.01],
              'max_depth': [3, 8],
              'min_samples_leaf': [1,10,100],
              'max_features': [None,0.3,0.1] 
              }

gsGBC = GridSearchCV(GBC,param_grid = gb_param_grid, cv=10, scoring="roc_auc", n_jobs= 4, verbose = 1)
gsGBC.fit(train,train_y)
GBC_best = gsGBC.best_estimator_

gsGBC.best_score_

Fitting 10 folds for each of 162 candidates, totalling 1620 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:   36.5s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:  2.0min
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:  6.7min
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:  9.9min
[Parallel(n_jobs=4)]: Done 1242 tasks      | elapsed: 17.1min
[Parallel(n_jobs=4)]: Done 1620 out of 1620 | elapsed: 23.1min finished

0.6830665952498466

In [ ]:
gsGBC.best_params_

{'learning_rate': 0.1,
 'loss': 'deviance',
 'max_depth': 3,
 'max_features': 0.1,
 'min_samples_leaf': 1,
 'n_estimators': 100}

In [ ]:
GBC_best.predict_proba(test)

array([[0.6687386 , 0.3312614 ],
       [0.45680791, 0.54319209],
       [0.56466505, 0.43533495],
       ...,
       [0.80116787, 0.19883213],
       [0.40461083, 0.59538917],
       [0.4793356 , 0.5206644 ]])

In [ ]:
roc_auc_score(test_y,GBC_best.predict_proba(test)[:,1])

0.6893245724224564

## Logistic

In [ ]:
LR = LogisticRegression()
lr_param_grid = {'C': [0.01,0.1,0.5,1.0],
                 'solver':['newton-cg','lbfgs','sag','saga']}

gsLR = GridSearchCV(LR,param_grid = lr_param_grid, cv=10, scoring="roc_auc", n_jobs= 4, verbose = 1)
gsLR.fit(train,train_y)
LR_best = gsLR.best_estimator_

gsLR.best_score_

Fitting 10 folds for each of 16 candidates, totalling 160 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done 116 tasks      | elapsed:    8.5s
[Parallel(n_jobs=4)]: Done 160 out of 160 | elapsed:   13.2s finished
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

0.6601077702247947

In [ ]:
gsLR.best_params_

{'C': 0.1, 'solver': 'saga'}

In [ ]:
LR_best.predict_proba(test)

array([[0.54177058, 0.45822942],
       [0.56024266, 0.43975734],
       [0.48786286, 0.51213714],
       ...,
       [0.7077955 , 0.2922045 ],
       [0.53884946, 0.46115054],
       [0.53309079, 0.46690921]])

In [ ]:
roc_auc_score(test_y,LR_best.predict_proba(test)[:,1])

0.6841414629432795

## LinearSVC

In [ ]:
LinearSVC()

In [ ]:
L_SVC = LinearSVC()
lsvc_param_grid = {'C': [0.01,0.1,0.5,1.0],
                 'tol':[1e-4,1e-5]}

gsLSVC = GridSearchCV(L_SVC,param_grid = lsvc_param_grid, cv=10, scoring="roc_auc", n_jobs= 4, verbose = 1)
gsLSVC.fit(train,train_y)
LSVC_best = gsLSVC.best_estimator_

gsLSVC.best_score_

Fitting 10 folds for each of 8 candidates, totalling 80 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    4.4s
[Parallel(n_jobs=4)]: Done  80 out of  80 | elapsed:    8.1s finished

0.6580480867022629

In [ ]:
gsLSVC.best_params_

{'C': 0.01, 'tol': 0.0001}

In [ ]:
roc_auc_score(test_y,LSVC_best.decision_function(test))

0.6846091409798047

# Voting

In [ ]:
from sklearn.ensemble import VotingClassifier

In [ ]:
voting = VotingClassifier(estimators=[('gbc', GBC_best),('lr',LR_best)], voting='soft', n_jobs=4)
voting_c = voting.fit(X_pre,y)

In [ ]:
test_gender = pd.Series(voting_c.predict_proba(TEST_pre)[:,1], name="gender")
results= pd.concat([X_test.cust_id,test_gender],axis=1)
results.head(3)

   cust_id    gender
0   3500.0  0.279995
1   3501.0  0.467128
2   3502.0  0.701869

In [ ]:
results.to_csv("ensemble_voting.csv",index=False)